body{
    background-color: rgb(104, 173, 150);
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: transparent;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    position: fixed;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
    float:right;
    list-style:none;
    height: 52px;
    line-height: 52px;
    padding: 0 40px;
    text-align: center;
    background: #40e0d0;
    transition: ease-in 5s;
    position: relative;
}
h1.a{
    visibility: hidden;
}
header{
    background-color: bisque;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 0px;
    border: 8px solid black;
    padding: 20px;
    margin: 0px;
    float:left;
}
h2.b{
    visibility: hidden;
}
aside{
    background-color: blanchedalmond;
    width: 50%;
    height:50%;
    text-align: center;
    float: left;
    position: relative;
}
h3.c{
    visibility: hidden;
}
section{
    background-color: transparent;
    width: 50%;
    height: 49%;
    text-align: center;
    position: relative;
    float: left;
}
h4.d{
    visibility: hidden;
}
article{
    background-color: blanchedalmond;
    width: 50%;
    height: 50%;
    text-align: center;
    position: relative;
    float: left;
}
h5.e{
    visibility: hidden;
}
footer{
    background-color: rgb(104, 173, 150);
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
    float: left;
}
h6.f{
    visibility: hidden;
}